.tiptap table {
  width: 95%;
  table-layout: fixed; /* optional, ensures columns shrink to fit */
}
.tiptap td,
.tiptap th {
  white-space: normal; /* allow multi-line content */
  word-break: break-word;
}

.table-nodeview {
  position: relative;
}

